@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #00b4db;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

button{
    background-color: #675AFE;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    align-self: center;
}

.container{
    width: 500px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.container header{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    background-color: #675AFE;
    border-radius: 5px;
}

.container form{
    margin: 40px 0 20px 0;
}

form :where(input, select){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form p{
    font-size: 21px;
    margin-bottom: 5px;
}

form input{
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    border: 1px solid #999;
}

form input:focus{
    padding: 0 15px;
    border: 2px solid #675AFE
}

form .drop-list{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.select-box1{
    margin: 5px;
    display: flex;
    height: 45px;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.select-box2{
    margin: 5px;
    display: flex;
    height: 45px;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.taxa-conversao {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.icone{
    background-color: #675AFE;
    width: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}

